*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

@font-face {
    font-family: Dancing Script;
    src: url('DancingScript-VariableFont_wght.ttf');
}

body{
    position: relative;
    z-index: 9999;
    padding-top: 80px;
    background-color: white;
    font-family: sans-serif;
    margin: 0;
}

#topnav{
    box-shadow: 0px 0px 10px black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: white;
}

#topnav a{
    float: left;
}

#logo{
    padding: 10px;
    height: 80px;
}

#odkazy{
    float: right;
}

#odkazy a{
    display: block;
    color: #583F74;
    text-decoration: none;
    font-size: 20px;
    padding: 28.5px;
}

#odkazy a:hover{
    background-color: whitesmoke;
}

.hamburger-menu{
    display: none;
}

@media screen and (max-width: 1000px) {
    #odkazy{
        z-index: 100;
        text-align: center;
        top: 80px;
        display: none;
        position: absolute;
        width: 100%;
    }

    #odkazy a{
        background-color: white;
        padding: 10px;
        float: none;
        display: block;
    }    

    .hamburger-menu{
        padding: 18.5px;
        background: none;
        border: none;
        display: block;
        float: right;
    }

    .hamburger-menu span{
        display: block;
        width: 40px;
        height: 5px;
        background-color: #101010;
        margin: 7px;
    }
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.banner{
    padding-top: 10%;
    padding-bottom: 2%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    box-shadow: 0px 0px 1000px black inset;
    background-repeat: no-repeat;
    background-position: 65%;
    background-image: url(images/villa-dudinka_main.jpg);
}

.banner h1{
    font-family: Dancing Script, Courier;
    text-shadow: 0px 0px 10px black;
    font-size: 60px;
    color: white;
    text-align: center;
}

.stars{
    padding-bottom: 5%;
    text-shadow: 0px 0px 20px gray;
    font-size: 40px;
    color: #F5F5DC;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .banner{
        padding-top: 1%;
    }

    .banner h1{
        padding-top: 15%;
        font-size: 40px;
    }
    
    .stars {
        font-size: 30px;
    }

    .vyhody-ubytovania .block{
        display: inline-flex;
    }

    .vyhody-ubytovania .block i{
        padding: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    #kontakt iframe{
        height: 250px;
    }
}

.vyhody-ubytovania{
    margin-top: 60px;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
}

.vyhody-ubytovania .block{
    width: 300px;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.block i{
    color: #101010;
    font-size: 35px;
}

#o-ville{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 900px;
}

#o-ville p{
    font-size: 20px;
}

#fotogaleria{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3f3f3;
}

.fotky{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#fotogaleria img{
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-width: 100%;
    object-fit: cover;
}

#cennik{
    padding-top: 20px;
    padding-bottom: 20px;
}

#cennik table{
    text-align: center;
    margin: 10px;
    width: 95%;
    max-width: 900px;
    border: 3px solid #967bb6;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#cennik th, #cennik td{
    border: 1px solid #E6E6FA;
    padding: 20px;
}

#cennik th{
    background-color: #967bb6;
}

@media screen and (max-width: 1000px){
    #cennik th{
        color: white;
        padding: 10px;
        font-size: 13px;
    }

    #cennik td{
        font-size: 12px;
        padding: 10px;
    }

    h2{
        font-size: 25px;
    }

    #o-ville p{
        font-size: 15px;
    }
}

#rezervacia{
    text-shadow: 0px 0px 10px black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #967bb6;
}

#rezervacia input, #rezervacia textarea, #submit{
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: none;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    max-width: 750px;
    height: 50px;
}

#rezervacia textarea{
    height: 150px;
}

#submit{
    background-color: #9acd32;
}

#submit:hover{
    background-color: #8ab82d;
}

#kontakt{
    padding-top: 20px;
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: wrap;
}

#kontakt .informacie, #kontakt .mapa{
    padding: 20px;
    flex: 500px
}

#kontakt .informacie{
    color: white;
    margin: auto;
    text-align: center;
}

.informacie p{
    font-size: 20px;
}

.informacie a{
    text-decoration: none;
    color: antiquewhite;
}

.adresa{
    margin: auto;
}

iframe{
    margin: auto;
    height: 350px;
    width: 650px;
    max-width: 100%;
}

.autor{
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #101010;
    width: 100%;
}

.autor a{
    font-weight: bold;
    color: #583F74;
    text-decoration: none;
}